html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Set core root defaults */
html {
  width: 100%;
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* set ul box-sizing to box */
ul {
  all: unset;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  box-sizing: inherit;
}

body {
  background-color: #EFEFEF;
  height: 100%;
  width: 100%;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  font-family: "Montserrat", "Arial";
  font-weight: 500;
  font-size: 15px;

  &__top {
    background-color: #efefef;
    display: flex;
    height: 85px;
    justify-content: center;
    align-items: center;
    gap: 16px;

    &-city {
      font-size: 14px;
      margin-right: 32px;
    }

    &-phone {
      display: flex;
      align-items: center;
      gap: 6px;
      font-weight: 600;
      font-size: 16px;
    }

    &-link {
      display: flex;
      gap: 8px;
    }

    &-request {
      display: flex;
      width: 368px;
      height: 40px;
      gap: 8px;

      &-offer {
        border-radius: 5px;
        border: 2px solid #fd0;
        background-color: rgba(10, 163, 96, 0);
      }

      &-callback {
        border-radius: 5px;
        background: #63b32e;
      }
    }
  }

  &__menu {
    background-color: #FFF;
    border: 1px solid #d8d8d8;

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 50px;
    }
    

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-item {
      color: #041726;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }
}

.intro {
  height: 600px;
  background: #FFF;

  &__advertisment {
    display: flex;
    align-items: center;
  }

  &__ad-book {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__ad-book-title {
    width: 509px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__ad-book-subtitle {
    display: flex;
    
    align-items: center;
    gap: 10px;

    // component
    .delimiter {
      height: 1px;
      width: 48px;
      background-color: #041726;
    }
    
  }

  &__ad-book-process {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__ad-picture {
    display: flex;
    overflow: hidden;
  }

  &__image {
    width: 100px;
  }
}

.services {
  background: #EFEFEF;

  &__partners {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;

    &-list  {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 1180px;
      height: 90px;

      border-radius: 10px;
      background: #FFF;

// YAGNI You Ain't Gonna Need It
// DRY Don't repeat yourself
// KISS Keep it simple stupid


// gonna - going to
// wanna - want to
// coulda shoulda
    }
  }

  &__types {

    display: flex;
    flex-direction: column;

    &-header {
      display: flex;
      justify-content: center;
      margin: 80px 0 48px 0;
    }

    &-toggle {
      display: flex;
      width: 100%;
      border-radius: 5px 5px 5px 5px;
      border: 1px solid #9FA1A1;
      overflow: hidden;
    }

    &-tab {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      height: 50px;

      color: #041726;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      // border: 1px solid #9FA1A1;


    }

    &-tab_active {
      background-color: #63B32E;
      // border: 1px solid #63B32E;
      color: #FFF;

      // border: 1px solid #63B32E;
    }

  }

}
