.button {
  display: flex;
  width: 240px;
  height: 55px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.button-green {
  display: flex;
  border-radius: 5px;
  background: #63B32E;
  color: #FFF;
}
.button-white {
  border-radius: 5px;
  border: 2px solid #FD0;
  background: rgba(10, 163, 96, 0);
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat") url("../assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat") url("../assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: 500;
}
body {
  color: #041726;
  font: normal 125%/1.4 "Montserrat", "Arial", sans-serif;
}

h1, .h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  color: #041726;
}

p, .p {
  color: #041726;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Set core root defaults */
html {
  width: 100%;
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* set ul box-sizing to box */
ul {
  all: unset;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  box-sizing: inherit;
}

body {
  background-color: #EFEFEF;
  height: 100%;
  width: 100%;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  font-family: "Montserrat", "Arial";
  font-weight: 500;
  font-size: 15px;
}
.header__top {
  background-color: #efefef;
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.header__top-city {
  font-size: 14px;
  margin-right: 32px;
}
.header__top-phone {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  font-size: 16px;
}
.header__top-link {
  display: flex;
  gap: 8px;
}
.header__top-request {
  display: flex;
  width: 368px;
  height: 40px;
  gap: 8px;
}
.header__top-request-offer {
  border-radius: 5px;
  border: 2px solid #fd0;
  background-color: rgba(10, 163, 96, 0);
}
.header__top-request-callback {
  border-radius: 5px;
  background: #63b32e;
}
.header__menu {
  background-color: #FFF;
  border: 1px solid #d8d8d8;
}
.header__menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.header__menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__menu-item {
  color: #041726;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.intro {
  height: 600px;
  background: #FFF;
}
.intro__advertisment {
  display: flex;
  align-items: center;
}
.intro__ad-book {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.intro__ad-book-title {
  width: 509px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.intro__ad-book-subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.intro__ad-book-subtitle .delimiter {
  height: 1px;
  width: 48px;
  background-color: #041726;
}
.intro__ad-book-process {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.intro__ad-picture {
  display: flex;
  overflow: hidden;
}
.intro__image {
  width: 100px;
}/*# sourceMappingURL=main.css.map */